<%- include('partials/header.ejs') %>
<body>
    <div class="main">
        <div class="abtSEc">
            <h2 class="abtHead">
                About
            </h2>
            <p class="abtPara">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus obcaecati expedita voluptas ad enim! Quam, impedit quae! Ipsa iste facilis architecto repellendus ut saepe, cumque totam accusamus magni delectus consequatur quam libero dignissimos necessitatibus voluptas alias iure sunt doloribus laboriosam? Veniam ab eius reprehenderit saepe similique atque iste sint eum dolore? Deleniti dolores alias aliquam amet sapiente hic nulla dicta eum ut voluptatem dolorem eveniet voluptate nobis eius, quis nam. Modi nisi libero dicta atque, magnam nesciunt neque natus saepe sequi, blanditiis facilis fuga velit temporibus ullam suscipit, quae deserunt adipisci excepturi distinctio voluptates repellendus consequuntur asperiores? Assumenda, deserunt molestias!
            </p>
        </div>
        <div class="pointsContainer">
            <h2 class="pointsHead">Current Points</h2>
            <div class="row">
                <div class="col">
                    <h3 class="branch mech">Mech</h3>
                    <p class="score">
                        <% if (mechScore) { %>
                            <span><%= mechScore %></span>
                        <% } %>
                    </p>
                </div>
                <div class="col">
                    <h3 class="branch civil">Civil</h3>
                    <p class="score">
                        <% if (civilScore) { %>
                            <span><%= civilScore %></span>
                        <% } %>
                    </p>
                </div>
                <div class="col">
                    <h3 class="branch ec">EC</h3>
                    <p class="score">
                        <% if (ecScore) { %>
                            <span><%= ecScore %></span>
                        <% } %>
                    </p>
                </div>
                <div class="col">
                    <h3 class="branch EEE">EEE</h3>
                    <p class="score">
                        <% if (eeeScore) { %>
                            <span><%= eeeScore %></span>
                        <% } %>
                    </p>
                </div>
                <div class="col">
                    <h3 class="branch cs">CS</h3>
                    <p class="score">
                        <% if (csScore) { %>
                            <span><%= csScore %></span>
                        <% } %>
                    </p>
                </div>
                <div class="col">
                    <h3 class="branch ic">IC</h3>
                    <p class="score">
                        <% if (icScore) { %>
                            <span><%= icScore %></span>
                        <% } %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var canvas = document.querySelector("#scene"),
  ctx = canvas.getContext("2d"),
  particles = [],
  amount = 0,
  mouse = {x:0,y:0},
  radius = 1;

var colors = ["#FFF","#FFF", "#FFF","#FFF", "#FFF"];

var copy = document.querySelector("#copy");

var ww = canvas.width = window.innerWidth;
var wh = canvas.height = window.innerHeight;
if(ww>550){
function Particle(x,y){
  this.x =  Math.random()*ww;
  this.y =  Math.random()*wh;
  this.dest = {
    x : x,
    y: y
  };
  if(ww<480){
    this.r=0.4;
  }
  this.r =  Math.random()+ 2;
  this.vx = (Math.random()-0.5)*50;
  this.vy = (Math.random()-0.5)*50;
  this.accX = 0;
  this.accY = 0;
  this.friction = Math.random()*0.008 + 0.94;

  this.color = colors[Math.floor(Math.random()*6)];
}

Particle.prototype.render = function() {


  this.accX = (this.dest.x - this.x)/1000;
  this.accY = (this.dest.y - this.y)/1000;
  this.vx += this.accX;
  this.vy += this.accY;
  this.vx *= this.friction;
  this.vy *= this.friction;

  this.x += this.vx;
  this.y +=  this.vy;

  ctx.fillStyle = this.color;
  ctx.beginPath();
  ctx.arc(this.x, this.y, this.r, Math.PI * 2, false);
  ctx.fill();

  var a = this.x - mouse.x;
  var b = this.y - mouse.y;

  var distance = Math.sqrt( a*a + b*b );
  if(distance<(radius*70)){
    this.accX = (this.x - mouse.x)/100;
    this.accY = (this.y - mouse.y)/100;
    this.vx += this.accX;
    this.vy += this.accY;
  }

}

function onMouseMove(e){
  mouse.x = e.clientX;
  mouse.y = e.clientY;
}

function onTouchMove(e){
  if(e.touches.length > 0 ){
    mouse.x = e.touches[0].clientX;
    mouse.y = e.touches[0].clientY;
  }
}

function onTouchEnd(e){
mouse.x = -9999;
mouse.y = -9999;
}

function initScene(){
  ww = canvas.width = window.innerWidth;
  wh = canvas.height = window.innerHeight;

  ctx.clearRect(0, 0, canvas.width, canvas.height);

  ctx.font = "bold "+(ww/10)+"px sans-serif";
  ctx.textAlign = "center";
  ctx.fillText(copy.value, ww/2.2, wh/2);

  var data  = ctx.getImageData(0, 0, ww, wh).data;
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  ctx.globalCompositeOperation = "screen";

  particles = [];
  for(var i=0;i<ww;i+=Math.round(ww/150)){
    for(var j=0;j<wh;j+=Math.round(ww/150)){
      if(data[ ((i + j*ww)*4) + 3] > 150){
        particles.push(new Particle(i,j));
      }
    }
  }
  amount = particles.length;

}

function onMouseClick(){
  radius++;
  if(radius ===5){
    radius = 0;
  }
}

function render(a) {
  requestAnimationFrame(render);
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  for (var i = 0; i < amount; i++) {
    particles[i].render();
  }
};

copy.addEventListener("keyup", initScene);
window.addEventListener("resize", initScene);
window.addEventListener("mousemove", onMouseMove);
window.addEventListener("touchmove", onTouchMove);
window.addEventListener("click", onMouseClick);
window.addEventListener("touchend", onTouchEnd);
initScene();
requestAnimationFrame(render);
}

</script>
</html>